# Fichiers et dossiers à ignorer lors de la construction de l'image Docker

node_modules
build
npm-debug.log
.DS_Store

# Configurations environnementales locales
.env.local
.env.development.local
.env.test.local
.env.production.local